<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>欢迎使用违纪员工管理系统</title>
</head>
<link href="{% static 'css/style-login.css' %}" type="text/css" rel="stylesheet">
<body>
<div id="root">
    <form class="login" enctype="multipart/form-data" method="post" action="{% url 'workersystem:do_login' %}">
        {% csrf_token %}
        <div class="login-head">
            <p class="login-logo">登</p>
            <p class="login-logo">录</p>
        </div>
        <div class="login-body">
            <div class="login-input">
                <input class="input-text" placeholder="用户名" name="username" type="text">
            </div>
            <div class="login-input">
                <input class="input-text" placeholder="密码" name="password" type="password">
            </div>
            <div class="forget-password">
                <a href="">忘记密码？</a>
            </div>
        </div>
        <div class="login-sign-up">
            <input class="login-button" type="submit" value="登录">
            <input class="login-button" id="sign-up" type="button" value="注册">
        </div>
    </form>
</div>
</body>
<ml>
    <script>
        let signUp = document.getElementById('sign-up');
        signUp.onclick=function () {
            window.location="../signup";
        }
    </script>
<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>欢迎使用违纪员工管理系统</title>-->
<!--</head>-->
<!--<link href="css/style-login.css" type="text/css" rel="stylesheet">-->
<!--<script src="https://unpkg.com/react@16/umd/react.development.js"></script>-->
<!--<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>-->
<!--<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>-->
<!--<body>-->
<!--<div id="root">-->
<!--    <form className="login" enctype="multipart/form-data" action="login.php" method="post">-->
<!--        <div className="login-head">-->
<!--            <p className="login-logo">登</p>-->
<!--            <p className="login-logo">录</p>-->
<!--        </div>-->
<!--        <div className="login-body" method="post" action="login.php">-->
<!--            <div className="login-input">-->
<!--                <input className="input-text" name="username" type="text"/>-->
<!--            </div>-->
<!--            <div className="login-input">-->
<!--                <input className="input-text" name="password" type="password"/>-->
<!--            </div>-->
<!--            <div className="forget-password">-->
<!--                <a href="">忘记密码？</a>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div className="login-sign-up">-->
<!--            <input className="login-button" type="submit" value="登录"/>-->
<!--            <input className="login-button" id="sign-up" type="button" value="注册"/>-->
<!--        </div>-->
<!--    </form>-->

<!--</div>-->
<!--</body>-->
<!--</html>-->
<!--<script type="text/babel" >-->

<!--    let signUp = document.getElementById('sign-up');-->
<!--    signUp.onclick=function () {-->
<!--        window.location="sign-up.html";-->
<!--    }-->
<!--</script>-->