<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
</head>
<link href="{% static 'css/style-sign-up.css' %}" type="text/css" rel="stylesheet">

<body>
<div id="root">
    <form class="form" enctype="multipart/form-data" action="{% url 'workersystem:addadmin' %}" method="post" onsubmit="informationRight()">
        <div class="sign-up-logo">
            <p>注&emsp;册</p>
        </div>
        <div class="sign-up-input">
            <div class="input-box">
                <input required class="input-text" name="name" placeholder="真实姓名">
                <p class="remind">姓名中不包含空格</p>
            </div>
            <div class="input-box">
                <input required class="input-text" name="username" placeholder="用户名">
                <p class="remind">用户中不包含空格</p>
            </div>
            <div class="input-box">
                <input required class="input-text" name="password" placeholder="密码" type="password">
                <p class="remind">密码5-15位，只能含字母数字</p>
            </div>
            <div class="input-box">
                <input required class="input-text" name="repeat-password" placeholder="确认密码" type="password">
                <p class="remind">两次输入不一致</p>
            </div>
            <div class="input-box">
                <select name="sex" required>
                    <option value="" disabled selected hidden>请选择性别</option>
                    <option value="男" >男</option>
                    <option value="女" >女</option>
                </select>
                <p class="remind">请选择性别！</p>
            </div>
            <div class="sign-up-photo">
                <div id="localImag"><img id="preview" width=100% height=100% style="diplay:none" /></div>
                <input required  id="photo" name="form_data" type="file"
                       accept="image/png,image/gif,image/jpg,image/jpeg,image/tif"
                       onchange="javascript:setImagePreview();">
            </div>
            <p>请选择头像</p>
        </div>
        <div class="sign-up-button-box" >
            <input class="sign-up-button" value="注册" type="button">
        </div>
    </form>
</div>
</body>
<script>
    let div=document.querySelector('.sign-up-logo');
    let pp=div.querySelector('p');
    let width=window.getComputedStyle(div,null).getPropertyValue('width');
    let text=document.querySelectorAll('.input-text');
    let sex = document.querySelector("select");
    let remind=document.querySelectorAll('.remind');
    pp.style.lineHeight=width;
    console.log(sex);
    if (sex.selectedIndex===0) sex.style.color='rgb(117,117,117)';

    text[0].onblur=function(){
        let msg=this.value;
        if (msg.length>msg.trim().split(" ").join("").length)
            remind[0].style.display='block';
        else
            remind[0].style.display='none';
    };
    text[1].onblur=function(){
        let msg=this.value;
        if (msg.length>msg.trim().split(" ").join("").length)
            remind[1].style.display='block';
        else
            remind[1].style.display='none';
    };
    text[2].onblur=function () {
        let msg=this.value;
        if (msg.length<5||msg.length>15||msg.length>msg.trim().split(" ").join("").length)
            remind[2].style.display='block';
        else
            remind[2].style.display='none';
    };
    text[3].onblur=function(){
        let msg=this.value;
        let msg2=text[2].value;
        if (msg!=msg2)
            remind[3].style.display='block';
        else
            remind[3].style.display='none';
    };
    sex.onblur=function () {
        if (sex.selectedIndex===0) remind[4].style.display='block';
        else  remind[4].style.display='none';
    };

    //判断信息是否全部正确
    function informationRight() {
        let flag=true;
        for (let i=0;i<remind.length;i++){
            if (remind[i].style.display==='block'){
                flag=false;
                break;
            }
        }
        return flag;
    }
    let button = document.querySelector('.sign-up-button');
    button.onclick=function () {
        informationRight()?button.type='submit':button.type='button';
    }

    function setImagePreview() {
        var docObj=document.getElementById("photo");

        var imgObjPreview=document.getElementById("preview");
        if(docObj.files &&    docObj.files[0]){
            //火狐下，直接设img属性
            imgObjPreview.style.display = 'block';
            imgObjPreview.style.height = '100%';
            imgObjPreview.style.width = '100%';
            //imgObjPreview.src = docObj.files[0].getAsDataURL();

            //火狐7以上版本不能用上面的getAsDataURL()方式获取，需要一下方式
            imgObjPreview.src = window.URL.createObjectURL(docObj.files[0]);
        }else{
            //IE下，使用滤镜
            docObj.select();
            var imgSrc = document.selection.createRange().text;
            var localImagId = document.getElementById("localImag");
            localImagId.style.width = "300px";
            localImagId.style.height = "120px";
            //图片异常的捕捉，防止用户修改后缀来伪造图片
            try{
                localImagId.style.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale)";
                localImagId.filters.item("DXImageTransform.Microsoft.AlphaImageLoader").src = imgSrc;
            }catch(e){
                alert("您上传的图片格式不正确，请重新选择!");
                return false;
            }
            imgObjPreview.style.display = 'block';
            document.selection.empty();
        }
        return true;
    }
</script>
</html>


