* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

.info-box{
    width: 60%;
    height: 70%;
    background-color: white;
    transform: translate(33.3%,12.5%);
    box-shadow:0 2px 4px rgba(0,0,0,0.2);
}

.left-menu{
    position: absolute;
    left: 0;
    height: 100%;
    width: 17.5%;
    border-right: 1px #ddd solid;
    background-color: rgb(250,250,250);
}

.menu-title{
    box-sizing:border-box;
    font-size: 1vw;
    color: #718093;
    position: relative;
    width: 90%;
    height: 7%;
    left: 10%;
    top: 3%;
    line-height:38px;
    border-bottom: 1px #ddd solid;
    margin-bottom: 15px;
    cursor: pointer;
}
.this{
    border-left: 5px rgb(0,156,136) solid;
}
.menu-title:hover{
    background-color: #dcdde1;
}

.private-contain{
    position: absolute;
    width: 82.5%;
    height: 100%;
    right: 0;
}
.basic-info{
    position: absolute;
    width: 100%;
    height: 38%;
    right: 0;
    top: 0;
}
.private-contain p{
    margin-top: 2vh;
    position: relative;
    font-size: 2vh;
}
.head-photo{
    width: 20%;
    height: 0;
    padding-bottom: 20%;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 5%;
}
#photo-file{
    position: absolute;
    opacity: 0;
    left: -80%;
    height: 100%;
    width: 200%;
    cursor: pointer;
}
.introduction{
    position: absolute;
    height: 62%;
    width: 100%;
    top: 38%;
}
.introduction p{
    position: absolute;
    left: 12.5%;
    font-size: 2vmin;
}