.information{
    position: relative;
    height: 15%;
    left: 5%;
}

.rule-info{
    position: absolute;
    top: 40%;
    left: 10%;
    width: 80%;
}

.worker-photo{
    position: relative;
    height: 80%;
    width: 20%;
    top: -10%;
    right: 10%;
    float: right;
}