body{
    margin: 0px;
    background: url("login-background.jpg")no-repeat center;
}

#root{
    position: absolute;
    width: 100%;
    height: 100%;
    background:#d1d8e0;
}
.login{
    position: absolute;
    background-color: white;
    width: 40%;
    height: 50%;
    left: 30%;
    top: 25%;
    text-align: center;
    box-shadow: 0 5px 20px rgba(0,0,0,0.7);

}

.login .login-head{
    position: absolute;
    top:0;
    left: 0;
    color: white;
    background-image: linear-gradient(-20deg, #fc6076 0%, #ff9a44 100%);
    height: 100%;
    width: 20%;
}
.login .login-head .login-logo{
    position: relative;
    top: 25%;
    font-size: 25px;
}

.login .login-body{
    position: absolute;
    left: 20%;
    top: 0;
    height: 70%;
    width: 80%;
    background-color: #f5f6fa;
}
.login .login-body .login-input{
    position: relative;
    left: 10%;
    top: 30%;
    width: 60%;
    text-align: left;
    font-size: small;
    border-bottom: 1px solid #7f8c8d;
    margin-bottom:8%;
}
.login .login-body .login-input .input-text{
    outline: none;
    border: 0;
    width: 100%;
    height: 30px;
    background-color: #f5f6fa;
    font-size: medium;
}
.login-body .forget-password{
    position: absolute;
    right: 5%;
    bottom: 8%;
}
.login-body .forget-password a{
    text-decoration: none;
    color: #2980b9;
    font-size: small;
}
.login-body .forget-password a:hover{
    color: #1B1464;
}
.login .login-sign-up{
    background-color: #f5f6fa;
    position: absolute;
    left: 20%;
    top: 70%;
    height: 30%;
    width: 80%;
}
.login .login-sign-up .login-button{
    position: relative;
    top: 20%;
    left: 8%;
    margin-right: 20%;
    border: none;
    width: 25%;
    height: 35%;
    border-radius: 15px;
    outline: none;
    cursor: pointer;
    background:#ED4C67;
    transition: 0.5s;
    color: white;
}
