<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{% static 'layui/css/layui.css'%}">
    <link rel="stylesheet" href="{% static 'css/style_private_info.css' %}">
    <script src="{% static 'layui/layui.js' %}"></script>
    <script src="{% static 'layui/js/jquery-3.4.1.js' %}"></script>
    <script src="{% static 'layui/js/jquery-3.4.1.min.js' %}"></script>
</head>
<body>
<form class="layui-form" method="post" action="{% url 'workersystem:updateinfo' %}" lay-filter="example" style="position: absolute;left: 0; top:7%; width: 90%">
    <div class="layui-form-item">
        <label class="layui-form-label">用户名</label>
        <div class="layui-input-block">
            <input type="text" name="username" lay-verify="title" autocomplete="off" placeholder="" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">姓名</label>
        <div class="layui-input-block">
            <input type="text" name="truename" lay-verify="title" autocomplete="off" placeholder="" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">性别</label>
        <div class="layui-input-block">
            <input type="radio" name="sex" value="男" title="男">
            <input type="radio" name="sex" value="女" title="女" checked="">
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">自我简介</label>
        <div class="layui-input-block">
            <textarea  class="layui-textarea" name="desc"></textarea>
        </div>
    </div>

    <button type="submit"
            class="layui-btn layui-btn-lg layui-btn-radius"
            id="sure-to-edit"
            style="position:absolute; width:35%; top:115%; left: 12%;">
        确认
    </button>
    <button type="button"
            class="layui-btn layui-btn-lg layui-btn-radius"
            id="back"
            style="position:absolute; width:35%; top:115%; left: 61%;">
        返回
    </button>
</form>
</body>
<script>
    layui.use('table',function () {

    });

    var trueName = parent.trueName;
    var username = parent.username;
    var sex = parent.sex;
    var intro = parent.intro;

    var inputmessage=document.querySelectorAll("input");
    var introduce = document.querySelector("textarea");
    inputmessage[0].placeholder=username;
    inputmessage[1].placeholder=trueName;
    introduce.innerHTML=intro;

    let editButton = document.querySelector('#sure-to-edit');
    let backButton = document.querySelector('#back');
    editButton.onclick=function () {
        var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
        parent.layer.close(index); //再执行关闭
        //表单的check部分还没有加

        //submit的时候如果需要js后续加


    }
    backButton.onclick=function () {
        var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
        parent.layer.close(index); //再执行关闭
    }
</script>
</html>