<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'layui/css/layui.css' %}">
    <link rel="stylesheet" href="{% static 'css/style_pwd_change.css' %}">
    <script src="{% static 'layui/layui.js' %}"></script>
    <script src="{% static 'layui/js/jquery-3.4.1.js' %}"></script>
    <script src="{% static 'layui/js/jquery-3.4.1.min.js' %}"></script>
</head>
<body>
<form method="post" action="{% url 'workersystem:changepwd' %}" enctype="multipart/form-data" >
    {% csrf_token %}
    <div class="input-item">
        <p>原密码</p>
        <div class="input-box">
            <input type="password" name="orign">
        </div>
    </div>
    <div class="input-item">
        <p>新密码</p>
        <div class="input-box" >
            <input type="password" name="new" id="new">
        </div>
        <img src="{% static 'image/pwd_no_look.png' %}">
    </div>
    <div class="input-item" >
        <p>确认密码</p>
        <div class="input-box">
            <input type="password" name="new2">
         </div>
    </div>
    <button type="submit"
            class="layui-btn layui-btn-lg layui-btn-radius"
            id="sure-to-change"
            style="position:absolute; width:30%; top:83%; left: 12%;">
        确认
    </button>
    <button type="button"
            class="layui-btn layui-btn-lg layui-btn-radius"
            id="back"
            style="position:absolute; width:30%; top:83%; left: 55%;">
        返回
    </button>
</form>
</body>
<script>
    var pwdImage=document.querySelector("img");
    var pwdInput=document.querySelector("#new");
    var flag = 0;
    pwdImage.onclick=function () {
        if (flag===0){
            pwdImage.src="{% static 'image/pwd_look.png' %}";
            pwdInput.type="text";
            flag=1;
        }
        else if (flag===1){
            pwdImage.src="{% static 'image/pwd_no_look.png' %}";
            pwdInput.type="password";
            flag=0;
        }
    }

    let changeButton = document.querySelector('#sure-to-change');
    let backButton = document.querySelector('#back');
    changeButton.onclick=function () {
        var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
        parent.layer.close(index); //再执行关闭
        //表单的check部分还没有加

        //submit的时候如果需要js后续加


    }
    backButton.onclick=function () {
        var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
        parent.layer.close(index); //再执行关闭
    }
</script>
</html>