<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'layui/css/layui.css' %}">
    <link rel="stylesheet" href="{% static 'css/style_private_info.css' %}">
    <link rel="stylesheet" href="{% static 'css/style_password_safe.css' %}">
    <script src="{% static 'layui/layui.js' %}"></script>
    <script src="{% static 'layui/js/jquery-3.4.1.js' %}"></script>
    <script src="{% static 'layui/js/jquery-3.4.1.min.js' %}"></script>
</head>
<body style="background-color: rgb(245,246,247);">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header layui-bg-green">
        <div class="layui-logo"><a href="../index" class="layui-logo" style="color:#dcdde1; font-weight: bold">违纪员工管理系统 V1.0.0</a></div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item"><a href="../logout">退出</a></li>
        </ul>
    </div>
</div>
<div class="info-box">
    <div class="left-menu">
        <div class="menu-title">&nbsp;&nbsp;<i class="layui-icon" style="font-size: 1vw;">&#xe612;</i>   <a href="../userinfo">个人信息</a></div>
        <div class="menu-title this">&nbsp;&nbsp;<i class="layui-icon" style="font-size: 1vw;">&#xe673;</i>   <a>账号安全</a></div>
    </div>
    <div class="private-contain">
        <div class="safe-level">
            <p style="float: left">安全等级：</p><p class="strong-word" style="color: red;">asdfsaf</p>
            <div class="level"></div>
            <div class="level"></div>
            <div class="level"></div>
            <div class="level"></div>
            <div class="level"></div>
        </div>
        <div class="email">
            <p>绑定邮箱：</p>
            <p id="address"></p>
            <button type="button" class="layui-btn layui-btn-xs"
                   style="position: absolute; bottom: 0;right: 0">修改</button>
        </div>
        <div class="password-tips-box">
            <p style="letter-spacing: 0.3vmin">安全贴士</p>
            <p class="password-tips" style="font-size: 1.8vmin;"></p>
        </div>
        <div id="tips-icon">
            <i class="layui-icon" style="font-size: 16px">&#xe683;</i>
        </div>
    </div>
</div>
</body>
<script>
    var password=1;
    var levelWord=["很弱","较弱","普通","较强","很强"];
    var address="1050562365@qq.com";
    $.ajax({
        url:'../getlv',
        method:'get',
        dataType:'json',
        success:function (res) {
            console.log(res);
            password=res[0]['count'];
            address=res[0]['email'];
            console.log(password);
            console.log(address);
            let word=document.querySelector(".strong-word");
            word.innerText=levelWord[password-1];
            //显示密码安全等级
            levels = document.querySelectorAll(".level");
            for(let i=0;i<password;i++){
                levels[i].style.backgroundColor="#e74c3c";
            }

            //显示邮箱
            addressWord = document.querySelector("#address");
            if (address==="") {
                addressWord.innerHTML = "暂未绑定邮箱!";
                addressWord.style.color ="red";
                addressWord.style.fontWeight="bold";
            }
            else
                addressWord.innerHTML=address;
        }
    });



    //修改邮箱
    button = document.querySelector('button');
    layui.use('layer',function () {
        button.onclick=function () {
            layer.prompt(
            {
                title:"绑定邮箱"
            },function(val, index) {
                    //val就是输入的邮箱地址
                    //判断邮箱格式是否正确
                    var atpos=val.indexOf("@");
                    var dotpos=val.lastIndexOf(".");
                    if (atpos<1 || dotpos<atpos+2 || dotpos+2>=val.length)
                    {
                        layer.msg("邮箱地址输入错误", {icon: 2});
                    }
                    else{
                        var load = layer.load(1);
                        //后端的操作
                        $.ajax({
                            url:'../changemail',
                            data:{'em':val},
                            method:'get',
                            success:function (res) {
                                if(res=='error')
                                layer.msg("绑定邮箱失败！", {icon: 2});
                                else{
                                    layer.msg("绑定邮箱成功！", {icon: 1});
                                }
                            }
                        });

                        layer.close(load);
                        //
                        /*if (false){
                            layer.msg("绑定邮箱失败！", {icon: 2});
                            layer.close(load)
                        }
                        if (true){
                            layer.msg("绑定邮箱成功！", {icon: 1});
                            layer.close(load);
                        }*/
                    }
                    layer.close(index);
                })
        }
    });

    //修改tips
    function getTips(level,address) {
        var tips="";
        if (address==="")tips=tips+"- 绑定邮箱。"+"<br>";
        switch (level) {
            case 1:
                tips = tips +
                    "- 尝试大小写字母、数字、字符的混合。"+
                    "<br>"+
                    "- 设置密码长度为10-15位." +
                    "<br>"+
                    "- 定期更改密码。";
                break;
            case 2:
            case 3:
            case 4:
                tips = tips +
                    "- 尝试大小写字母、数字、字符的混合。\n" +
                    "<br>"+
                    "- 定期更改密码。";
                break;
            case 5:
                tips = tips +
                    "- 定期更改密码。";
                break;
        }
        return tips;
    }
    passwordTips = document.querySelector('.password-tips');
    passwordTips.innerHTML = getTips(password,address);

    var icon = document.querySelector('#tips-icon');
    var tipsBox=document.querySelector('.password-tips-box');
    layui.use('layer',function () {
        icon.onmouseover=function () {
            tipsBox.style.borderRadius="0 0 80px 0";
            icon.style.color="black";
            icon.style.cursor="pointer";
            var tipIndex=layer.tips('修改密码','#tips-icon');
        };
        icon.onmouseout=function () {
            tipsBox.style.borderRadius="0 0 0 0";
            icon.style.color="white";
            var tipIndex=layer.tips('修改密码','#tips-icon');
            layer.close(tipIndex);
        };
        icon.onclick = function () {
            var load = layer.load(1);
            //后端的操作，去邮箱验证
            layer.close(load);
                layer.open({
                    type: 2,
                    title: '修改密码',
                    area: ['42%', '55%'],
                    content: ['../pwdsafe','no']
                });
        };
    })
</script>
</html>