@import '~antd/dist/antd.css';
.main {
    height: 100vh;
    padding-top: 50px;
}

.header {
    position: absolute;
    top: 0;
    height: 50px;
    width: 100%;
    font-size: 15px;
    padding: 0 20px;
    line-height: 50px;
    background-color: #2980b9;
    font-weight: lighter;
}

a {
    color: white;
}

/*导航标题初始颜色*/
.ant-menu-item > a{
    color: rgba(0,0,0,0.6);
}
/*标题被覆盖时的颜色*/
.ant-menu-item > a:hover{
    color: black;
}
/*标题被选中时的颜色*/
.ant-menu-item-selected > a{
    color: black;
}

.menu {
    height: 100%;
    width: 240px;
    float: left;
    background-color: #ecf0f1;

}

.content {
    height: 100%;
    padding: 12px;
    overflow: auto;
    margin-left: 240px;
    align-self: stretch;
}
.wt-left-menu > li > a{
    display: inline-block;
}
.ant-menu ,.wt-left-menu ,.ant-menu-light, .ant-menu-root, .ant-menu-inline{
    background-color: #ecf0f1;
}